{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <form method="post" action="">
        {{ form.hidden_tag() }}
        <div class="row d-flex justify-content-center">
            <h3>Admin Registration</h3>
        </div><br>
        <div class="row">
            <div class="col col-3">
            </div>
            <div class="col border border-info">
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col col-10">
                        {{ form.full_name.label(class="form-control-label") }}
                        {% if form.full_name.errors %}
                        <h1>ful name</h1>
                        {{ form.full_name(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.full_name.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.full_name(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div><br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col col-10">
                        {{ form.mobile_no.label(class="form-control-label") }}
                        {% if form.mobile_no.errors %}
                        <h1>mob</h1>
                        {{ form.mobile_no(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.mobile_no.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.mobile_no(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div><br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col col-10">
                        {{ form.email_id.label(class="form-control-label") }}
                        {% if form.email_id.errors %}
                        <h1>email</h1>
                        {{ form.email_id(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.email_id.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.email_id(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div><br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col col-10">
                        {{ form.password.label(class="form-control-label") }}
                        {% if form.password.errors %}
                        <h1>pass</h1>
                        {{ form.password(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div><br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col col-10">
                        {{ form.confirm_password.label(class="form-control-label") }}
                        {% if form.confirm_password.errors %}
                        <h1>con pass</h1>
                        {{ form.confirm_password(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                          {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                          {% endfor %}
                        </div>
                        {% else %}
                          {{ form.confirm_password(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="col-1"></div>
                </div><br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col col-10 d-flex justify-content-end">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                    <div class="col-1"></div>
                </div><br>

            </div>
            <div class="col col-3">
            </div>
        </div>
    </form>
</div>
{% endblock %}